@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Import the Google font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$white: #fafafa;

$column-gap: 2.0rem;
$family-sans-serif: "Nunito", sans-serif;
$body-background-color: $white;
$link: $grey-dark;

@import "../node_modules/bulma/bulma";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "components";

body {
    @include from($tablet) {
        background-image: url('../assets/back.jpeg');
        background-repeat: no-repeat;
        background-size: 39% 100%;
        background-position: right top;
    }
}
